@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Orbitron:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Proje Geneli Ayarlar */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #09090b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

/* Gecikme sınıfları için yardımcı stiller */
.delay-100 { animation-delay: 0.1s; }
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }

/* Seçim Rengi */
::selection {
  background-color: rgba(6, 182, 212, 0.3);
  color: #cffafe;
}
